<p id="notice"><%= notice %></p>

<h1>Actores</h1>

<br>
<br>
<%= link_to 'Crear Actor', new_actors_path %>
<br>
<br>
<table>
  <thead>
    <tr>
       <th>Foto</th>
       <th>actor_makeitreal</th>
       <th>Bio</th>
       <th>Lugar Nacimiento</th>
       <th>Fecha Nacimiento</th>
       <th>Lugar Fallece</th>
       <th>Fecha Muerte</th>
       <th>Ver</th>
       <th>Editar</th>
       <th>Borrar</th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><img src=<%=actor.image_url %>></td>
        <td><%= actor.name %></td>
        <td><%= actor.bio %></td>
        <td><%= actor.birth_date %></td>
        <td><%= actor.birth_place %></td>
        <% if !actor.alive %>
          <td><%= actor.death_date %></td>
          <td><%= actor.death_place %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

